In [5]:
import pandas as pd
import requests
url = 'https://coinmarketcap.com/currencies/bitcoin/historical-data/?start=20160425&end=20180425'
test_df = pd.read_html(requests.get(url,headers={'User-agent': 'Mozilla/5.0'}).text)[0]
test_df.head(5)

           Date     Open     High      Low    Close       Volume    Market Cap
0  Apr 25, 2018  9701.03  9745.32  8799.84  8845.74  11083100000  164893000000
1  Apr 24, 2018  8934.34  9732.61  8927.83  9697.50  10678800000  151844000000
2  Apr 23, 2018  8794.39  8958.55  8788.81  8930.88   6925190000  149448000000
3  Apr 22, 2018  8925.06  9001.64  8779.61  8802.46   6629900000  151651000000
4  Apr 21, 2018  8848.79  8997.57  8652.15  8895.58   7548550000  150337000000

In [7]:
test_df.set_index('Date')

                 Open     High      Low    Close       Volume    Market Cap
Date
Apr 25, 2018  9701.03  9745.32  8799.84  8845.74  11083100000  164893000000
Apr 24, 2018  8934.34  9732.61  8927.83  9697.50  10678800000  151844000000
Apr 23, 2018  8794.39  8958.55  8788.81  8930.88   6925190000  149448000000
Apr 22, 2018  8925.06  9001.64  8779.61  8802.46   6629900000  151651000000
Apr 21, 2018  8848.79  8997.57  8652.15  8895.58   7548550000  150337000000
Apr 20, 2018  8286.88  8880.23  8244.54  8845.83   8438110000  140777000000
Apr 19, 2018  8159.27  8298.69  8138.78  8294.31   7063210000  138591000000
Apr 18, 2018  7944.43  8197.80  7886.01  8163.42   6529910000  134926000000
Apr 17, 2018  8071.66  8285.96  7881.72  7902.09   6900880000  137070000000
Apr 16, 2018  8337.57  8371.15  7925.73  8058.67   5631310000  141571000000
Apr 15, 2018  7999.33  8338.42  7999.33  8329.11   5244480000  135812000000
Apr 14, 2018  7874.67  8140.71  7846.00  7986.24   5191430000  133682000000
Apr 13, 2018  7901.09  8183.96  7758.93  7895.96   7764460000  134114000000
Apr 12, 2018  6955.38  7899.23  6806.51  7889.25   8906250000  118048000000
Apr 11, 2018  6843.47  6968.32  6817.59  6968.32   4641890000  116126000000
Apr 10, 2018  6795.44  6872.41  6704.15  6834.76   4272750000  115306000000
Apr 09, 2018  7044.32  7178.11  6661.99  6770.73   4894060000  119516000000
Apr 08, 2018  6919.98  7111.56  6919.98  7023.52   3652500000  117392000000
Apr 07, 2018  6630.51  7050.54  6630.51  6911.09   3976610000  112467000000
Apr 06, 2018  6815.96  6857.49  6575.00  6636.32   3766810000  115601000000
Apr 05, 2018  6848.65  6933.82  6644.80  6811.47   5639320000  116142000000
Apr 04, 2018  7456.41  7469.88  6803.88  6853.84   4936000000  126434000000
Apr 03, 2018  7102.26  7530.94  7072.49  7456.11   5499700000  120415000000
Apr 02, 2018  6844.86  7135.47  6816.58  7083.80   4333440000  116037000000
Apr 01, 2018  7003.06  7060.95  6526.87  6844.23   4532100000  118705000000
Mar 31, 2018  6892.48  7207.85  6863.52  6973.53   4553270000  116820000000
Mar 30, 2018  7171.45  7276.66  6683.93  6890.52   6289510000  121534000000
Mar 29, 2018  7979.07  7994.33  7081.38  7165.70   6361230000  135205000000
Mar 28, 2018  7836.83  8122.89  7809.17  7954.48   4935290000  132781000000
Mar 27, 2018  8200.00  8232.78  7797.28  7833.04   5378250000  138919000000
...               ...      ...      ...      ...          ...           ...
May 24, 2016   444.29   447.10   443.93   445.98     65783100    6921460000
May 23, 2016   439.35   444.35   438.82   444.15     50582500    6842470000
May 22, 2016   443.22   443.43   439.04   439.32     39657600    6900700000
May 21, 2016   442.97   443.78   441.71   443.19     42762300    6895230000
May 20, 2016   437.79   444.05   437.39   442.68     81987900    6813080000
May 19, 2016   454.52   454.63   438.71   438.71     96027400    7072090000
May 18, 2016   453.69   456.00   453.30   454.62     86850100    7057390000
May 17, 2016   454.01   455.07   453.61   453.78     64100300    7060730000
May 16, 2016   457.59   458.20   452.94   454.16     59171500    7114740000
May 15, 2016   455.76   458.69   455.46   457.57     28514000    7084760000
May 14, 2016   455.82   456.84   454.79   455.67     37209000    7084100000
May 13, 2016   454.85   457.06   453.45   455.67     60845000    7067270000
May 12, 2016   452.45   454.95   449.25   454.77     59849300    7028330000
May 11, 2016   450.86   454.58   450.86   452.73     50605200    7002230000
May 10, 2016   460.52   461.93   448.95   450.89     58956100    7150370000
May 09, 2016   458.21   462.48   456.53   460.48     55493100    7112510000
May 08, 2016   458.43   459.42   455.98   458.55     40315000    7114060000
May 07, 2016   459.64   460.68   457.32   458.54     38364500    7131120000
May 06, 2016   447.94   461.38   447.07   459.60     72796800    6947800000
May 05, 2016   446.71   448.51   445.88   447.98     50440800    6926990000
May 04, 2016   450.18   450.38   445.63   446.72     50407300    6978950000
May 03, 2016   444.73   451.10   442.62   450.30     59366400    6892690000
May 02, 2016   451.93   452.44   441.78   444.67     92127000    7002610000
May 01, 2016   448.48   452.48   447.93   451.88     40660100    6947430000
Apr 30, 2016   455.18   455.59   447.70   448.32     69322600    7049460000
Apr 29, 2016   449.41   455.38   446.02   455.10     49258500    6958330000
Apr 28, 2016   445.04   449.55   436.65   449.01     74064700    6889170000
Apr 27, 2016   466.26   467.08   444.13   444.69     93564900    7216190000
Apr 26, 2016   461.65   467.96   461.62   466.09     78971900    7143060000
Apr 25, 2016   459.12   466.62   453.59   461.43     87091800    7102490000

[731 rows x 6 columns]

In [12]:
url = 'https://coinmarketcap.com/currencies/ethereum/historical-data/?start=20160425&end=20180425'
df_ethereum = pd.read_html(requests.get(url,headers={'User-agent': 'Mozilla/5.0'}).text)[0]
df_ethereum.set_index('Date')
df_ethereum.rename(columns={'Close': 'Ethereum Close'}, inplace=True)
print(df_ethereum)

             Date    Open    High     Low  Ethereum Close      Volume  \
0    Apr 25, 2018  707.06  707.06  600.21          615.42  4216140000
1    Apr 24, 2018  643.40  708.88  643.40          708.16  3581860000
2    Apr 23, 2018  621.20  646.70  621.03          642.55  2386830000
3    Apr 22, 2018  606.12  640.77  593.87          621.86  2426270000
4    Apr 21, 2018  616.00  621.89  578.55          605.39  2612460000
5    Apr 20, 2018  567.99  618.72  560.28          615.72  2849470000
6    Apr 19, 2018  524.04  567.89  523.26          567.89  2256870000
7    Apr 18, 2018  503.31  525.09  503.05          524.79  1762940000
8    Apr 17, 2018  511.14  518.03  502.56          502.89  1760360000
9    Apr 16, 2018  532.07  534.20  500.25          511.15  1758980000
10   Apr 15, 2018  502.88  531.70  502.88          531.70  1726090000
11   Apr 14, 2018  492.58  512.02  488.28          501.48  1519080000
12   Apr 13, 2018  493.16  526.47  482.66          492.74  2419250000
13   Apr 12, 2018  430.16  493.06  417.41          492.94  2519360000
14   Apr 11, 2018  415.02  430.54  412.47          430.54  1439040000
15   Apr 10, 2018  399.41  415.89  393.88          414.24  1196000000
16   Apr 09, 2018  400.86  429.25  390.61          398.53  1478390000
17   Apr 08, 2018  385.74  402.59  385.60          400.51   948488000
18   Apr 07, 2018  370.38  393.06  369.94          385.31   951475000
19   Apr 06, 2018  382.73  385.19  366.91          370.29   967106000
20   Apr 05, 2018  379.95  387.72  369.82          383.23  1210680000
21   Apr 04, 2018  416.49  417.47  375.31          380.54  1287730000
22   Apr 03, 2018  387.31  418.97  383.53          416.89  1363400000
23   Apr 02, 2018  379.70  395.17  377.59          386.43  1102260000
24   Apr 01, 2018  397.25  400.53  363.81          379.61  1256930000
25   Mar 31, 2018  395.00  418.47  392.95          396.46  1323920000
26   Mar 30, 2018  385.90  409.93  368.63          394.64  1878130000
27   Mar 29, 2018  448.07  450.81  385.81          385.97  1970230000
28   Mar 28, 2018  450.29  466.21  444.86          446.28  1514180000
29   Mar 27, 2018  489.59  491.46  449.97          450.12  1617940000
..            ...     ...     ...     ...             ...         ...
701  May 24, 2016   13.31   13.77   12.01           12.73    41560600
702  May 23, 2016   14.28   14.49   13.19           13.46    23842800
703  May 22, 2016   14.04   14.35   13.77           14.29    17938900
704  May 21, 2016   13.69   14.05   13.12           14.02    24648400
705  May 20, 2016   14.85   15.05   13.38           13.64    50544100
706  May 19, 2016   13.54   14.87   13.34           14.77    53757500
707  May 18, 2016   12.18   14.26   12.18           13.56    65389900
708  May 17, 2016   11.19   12.49   11.15           12.20    37198700
709  May 16, 2016    9.97   11.44    9.97           11.17    29079900
710  May 15, 2016   10.24   10.44    9.93            9.96     9218400
711  May 14, 2016   10.51   10.62    9.81           10.24    18808000
712  May 13, 2016   10.06   11.05   10.02           10.51    31276900
713  May 12, 2016   10.00   10.51    9.86           10.06    24137700
714  May 11, 2016    9.43   10.01    9.39           10.00    15267500
715  May 10, 2016    9.28    9.48    9.26            9.36     9321790
716  May 09, 2016    9.49    9.64    9.20            9.30    13085300
717  May 08, 2016    9.37    9.60    8.93            9.48    15031000
718  May 07, 2016    9.32    9.48    9.21            9.37    10806500
719  May 06, 2016    9.81    9.95    9.04            9.35    21510600
720  May 05, 2016    9.40   10.05    9.29            9.83    18296200
721  May 04, 2016    9.38   10.03    9.27            9.41    17622400
722  May 03, 2016   10.17   10.17    9.28            9.31    21463900
723  May 02, 2016    8.89   10.32    8.85           10.16    41019200
724  May 01, 2016    8.78    9.01    8.43            8.85    16713800
725  Apr 30, 2016    7.45    9.37    7.45            8.81    36573300
726  Apr 29, 2016    7.21    7.73    7.17            7.46     8762080
727  Apr 28, 2016    7.74    7.91    7.17            7.17    11576000
728  Apr 27, 2016    7.39    7.97    7.32            7.76    19254500
729  Apr 26, 2016    7.53    7.55    7.06            7.40    17667300
730  Apr 25, 2016    8.01    8.09    7.24            7.55    18239900

      Market Cap
0    70018900000
1    63701200000
2    61490600000
3    59985500000
4    60951100000
5    56188700000
6    51829900000
7    49769600000
8    50534000000
9    52592200000
10   49696300000
11   48668400000
12   48715400000
13   42483600000
14   40980200000
15   39430400000
16   39565100000
17   38065400000
18   36541900000
19   37752600000
20   37470200000
21   41065100000
22   38180800000
23   37422500000
24   39144700000
25   38914900000
26   38010600000
27   44125000000
28   44334000000
29   48193300000
..           ...
701   1068670000
702   1146470000
703   1126810000
704   1098220000
705   1191080000
706   1085570000
707    975878000
708    896505000
709    798116000
710    819399000
711    840395000
712    804647000
713    798952000
714    753600000
715    741417000
716    758000000
717    748030000
718    743166000
719    782261000
720    749038000
721    747638000
722    809644000
723    708137000
724    698377000
725    592992000
726    573124000
727    615316000
728    587076000
729    597819000
730    635784000

[731 rows x 7 columns]

In [41]:
url = 'https://coinmarketcap.com/currencies/bitcoin/historical-data/?start=20160425&end=20180425'
df_bitcoin = pd.read_html(requests.get(url,headers={'User-agent': 'Mozilla/5.0'}).text)[0]
df_bitcoin.set_index('Date')
df_bitcoin.rename(columns={'Close': 'Bitcoin Close'}, inplace=True)

url = 'https://coinmarketcap.com/currencies/ethereum/historical-data/?start=20160425&end=20180425'
df_ethereum = pd.read_html(requests.get(url,headers={'User-agent': 'Mozilla/5.0'}).text)[0]
df_ethereum.set_index('Date')
df_ethereum.rename(columns={'Close': 'Ethereum Close'}, inplace=True)

url = 'https://coinmarketcap.com/currencies/ripple/historical-data/?start=20160425&end=20180425'
df_ripple = pd.read_html(requests.get(url,headers={'User-agent': 'Mozilla/5.0'}).text)[0]
df_ripple.set_index('Date')
df_ripple.rename(columns={'Close': 'Ripple Close'}, inplace=True)

url = 'https://coinmarketcap.com/currencies/bitcoin-cash/historical-data/?start=20160425&end=20180425'
df_bitcoincash = pd.read_html(requests.get(url,headers={'User-agent': 'Mozilla/5.0'}).text)[0]
df_bitcoincash.set_index('Date')
df_bitcoincash.rename(columns={'Close': 'Bitcoincash Close'}, inplace=True)

url = 'https://coinmarketcap.com/currencies/eos/historical-data/?start=20160425&end=20180425'
df_eos = pd.read_html(requests.get(url,headers={'User-agent': 'Mozilla/5.0'}).text)[0]
df_eos.set_index('Date')
df_eos.rename(columns={'Close': 'Eos Close'}, inplace=True)

url = 'https://coinmarketcap.com/currencies/cardano/historical-data/?start=20160425&end=20180425'
df_cardano = pd.read_html(requests.get(url,headers={'User-agent': 'Mozilla/5.0'}).text)[0]
df_cardano.set_index('Date')
df_cardano.rename(columns={'Close': 'Cardano Close'}, inplace=True)

url = 'https://coinmarketcap.com/currencies/litecoin/historical-data/?start=20160425&end=20180425'
df_litecoin = pd.read_html(requests.get(url,headers={'User-agent': 'Mozilla/5.0'}).text)[0]
df_litecoin.set_index('Date')
df_litecoin.rename(columns={'Close': 'Litecoin Close'}, inplace=True)

url = 'https://coinmarketcap.com/currencies/stellar/historical-data/?start=20160425&end=20180425'
df_stellar = pd.read_html(requests.get(url,headers={'User-agent': 'Mozilla/5.0'}).text)[0]
df_stellar.set_index('Date')
df_stellar.rename(columns={'Close': 'Stellar Close'}, inplace=True)

url = 'https://coinmarketcap.com/currencies/iota/historical-data/?start=20160425&end=20180425'
df_iota = pd.read_html(requests.get(url,headers={'User-agent': 'Mozilla/5.0'}).text)[0]
df_iota.set_index('Date')
df_iota.rename(columns={'Close': 'Iota Close'}, inplace=True)

url = 'https://coinmarketcap.com/currencies/tron/historical-data/?start=20160425&end=20180425'
df_tron = pd.read_html(requests.get(url,headers={'User-agent': 'Mozilla/5.0'}).text)[0]
df_tron.set_index('Date')
df_tron.rename(columns={'Close': 'Tron Close'}, inplace=True)

url = 'https://coinmarketcap.com/currencies/neo/historical-data/?start=20160425&end=20180425'
df_neo = pd.read_html(requests.get(url,headers={'User-agent': 'Mozilla/5.0'}).text)[0]
df_neo.set_index('Date')
df_neo.rename(columns={'Close': 'Neo Close'}, inplace=True)

url = 'https://coinmarketcap.com/currencies/dash/historical-data/?start=20160425&end=20180425'
df_dash = pd.read_html(requests.get(url,headers={'User-agent': 'Mozilla/5.0'}).text)[0]
df_dash.set_index('Date')
df_dash.rename(columns={'Close': 'Dash Close'}, inplace=True)

url = 'https://coinmarketcap.com/currencies/nem/historical-data/?start=20160425&end=20180425'
df_nem = pd.read_html(requests.get(url,headers={'User-agent': 'Mozilla/5.0'}).text)[0]
df_nem.set_index('Date')
df_nem.rename(columns={'Close': 'Nem Close'}, inplace=True)

url = 'https://coinmarketcap.com/currencies/monero/historical-data/?start=20160425&end=20180425'
df_monero = pd.read_html(requests.get(url,headers={'User-agent': 'Mozilla/5.0'}).text)[0]
df_monero.set_index('Date')
df_monero.rename(columns={'Close': 'Monero Close'}, inplace=True)

url = 'https://coinmarketcap.com/currencies/vechain/historical-data/?start=20160425&end=20180425'
df_vechain = pd.read_html(requests.get(url,headers={'User-agent': 'Mozilla/5.0'}).text)[0]
df_vechain.set_index('Date')
df_vechain.rename(columns={'Close': 'VeChain Close'}, inplace=True)

url = 'https://coinmarketcap.com/currencies/tether/historical-data/?start=20160425&end=20180425'
df_tether = pd.read_html(requests.get(url,headers={'User-agent': 'Mozilla/5.0'}).text)[0]
df_tether.set_index('Date')
df_tether.rename(columns={'Close': 'Tether Close'}, inplace=True)

url = 'https://coinmarketcap.com/currencies/lisk/historical-data/?start=20160425&end=20180425'
df_lisk = pd.read_html(requests.get(url,headers={'User-agent': 'Mozilla/5.0'}).text)[0]
df_lisk.set_index('Date')
df_lisk.rename(columns={'Close': 'Lisk Close'}, inplace=True)

url = 'https://coinmarketcap.com/currencies/bytecoin-bcn/historical-data/?start=20160425&end=20180425'
df_bytecoin = pd.read_html(requests.get(url,headers={'User-agent': 'Mozilla/5.0'}).text)[0]
df_bytecoin.set_index('Date')
df_bytecoin.rename(columns={'Close': 'Bytecoin Close'}, inplace=True)

url = 'https://coinmarketcap.com/currencies/verge/historical-data/?start=20160425&end=20180425'
df_verge = pd.read_html(requests.get(url,headers={'User-agent': 'Mozilla/5.0'}).text)[0]
df_verge.set_index('Date')
df_verge.rename(columns={'Close': 'Verge Close'}, inplace=True)

url = 'https://coinmarketcap.com/currencies/steem/historical-data/?start=20160425&end=20180425'
df_steem = pd.read_html(requests.get(url,headers={'User-agent': 'Mozilla/5.0'}).text)[0]
df_steem.set_index('Date')
df_steem.rename(columns={'Close': 'Steem Close'}, inplace=True)

url = 'https://coinmarketcap.com/currencies/siacoin/historical-data/?start=20160425&end=20180425'
df_siacoin = pd.read_html(requests.get(url,headers={'User-agent': 'Mozilla/5.0'}).text)[0]
df_siacoin.set_index('Date')
df_siacoin.rename(columns={'Close': 'Siacoin Close'}, inplace=True)

url = 'https://coinmarketcap.com/currencies/bitshares/historical-data/?start=20160425&end=20180425'
df_bitshares = pd.read_html(requests.get(url,headers={'User-agent': 'Mozilla/5.0'}).text)[0]
df_bitshares.set_index('Date')
df_bitshares.rename(columns={'Close': 'Bitshares Close'}, inplace=True)

In [43]:
result = pd.concat([df_bitcoin['Bitcoin Close'], df_ethereum['Ethereum Close'],df_ripple['Ripple Close'],df_tether['Tether Close'],
                   df_lisk['Lisk Close'],df_bytecoin['Bytecoin Close'],df_litecoin['Litecoin Close'],df_stellar['Stellar Close'],
                   df_verge['Verge Close'],df_steem['Steem Close'],df_siacoin['Siacoin Close'],df_dash['Dash Close'],df_nem['Nem Close'],
                   df_monero['Monero Close'],df_bitshares['Bitshares Close']], axis=1)
#result.set_index('Date')
print(result)

     Bitcoin Close  Ethereum Close  Ripple Close  Tether Close  Lisk Close  \
0          8845.74          615.42      0.800607      0.991809   11.050000
1          9697.50          708.16      0.934781      1.000000   13.090000
2          8930.88          642.55      0.876657      0.997847   12.300000
3          8802.46          621.86      0.869995      0.996196   11.530000
4          8895.58          605.39      0.873103      0.999014   11.660000
5          8845.83          615.72      0.924465      0.998338   12.320000
6          8294.31          567.89      0.791976      0.997185   11.780000
7          8163.42          524.79      0.708932      0.997609   11.310000
8          7902.09          502.89      0.656933      0.998556   10.480000
9          8058.67          511.15      0.663297      0.997592   10.690000
10         8329.11          531.70      0.682534      0.998602   10.480000
11         7986.24          501.48      0.632184      0.999766    9.980000
12         7895.96          492.74      0.638087      0.998895    9.770000
13         7889.25          492.94      0.628737      0.996831    9.720000
14         6968.32          430.54      0.539506      1.000000    8.740000
15         6834.76          414.24      0.491931      0.997356    8.530000
16         6770.73          398.53      0.491855      0.997555    8.630000
17         7023.52          400.51      0.500398      0.996809    9.150000
18         6911.09          385.31      0.487867      0.999644    8.590000
19         6636.32          370.29      0.476431      1.000000    8.250000
20         6811.47          383.23      0.495801      1.000000    8.610000
21         6853.84          380.54      0.501631      1.000000    8.410000
22         7456.11          416.89      0.558044      1.000000   10.160000
23         7083.80          386.43      0.500688      1.000000    7.830000
24         6844.23          379.61      0.485081      0.999810    7.070000
25         6973.53          396.46      0.512353      1.000000    7.540000
26         6890.52          394.64      0.509565      0.998943    7.450000
27         7165.70          385.97      0.511511      0.998623    7.940000
28         7954.48          446.28      0.578002      0.999204    9.660000
29         7833.04          450.12      0.577917      1.000000    9.850000
..             ...             ...           ...           ...         ...
701         445.98           12.73      0.005962      1.000000    0.560052
702         444.15           13.46      0.005909      1.000000    2.950000
703         439.32           14.29      0.005936      1.000000    2.740000
704         443.19           14.02      0.005990      1.000000    4.080000
705         442.68           13.64      0.006084      1.000000    3.410000
706         438.71           14.77      0.006032      1.000000    1.430000
707         454.62           13.56      0.006028      1.000000    1.890000
708         453.78           12.20      0.006023      1.000000    0.750805
709         454.16           11.17      0.006022      1.000000    0.784433
710         457.57            9.96      0.006061      1.000000    0.829394
711         455.67           10.24      0.006073      1.000000    0.824642
712         455.67           10.51      0.006109      1.000000    0.788618
713         454.77           10.06      0.006167      1.000000    0.816670
714         452.73           10.00      0.006189      1.000000    1.220000
715         450.89            9.36      0.006272      1.000000    0.833555
716         460.48            9.30      0.006399      1.000000    0.761164
717         458.55            9.48      0.006404      1.000000    0.790503
718         458.54            9.37      0.006490      1.000000    0.696178
719         459.60            9.35      0.006399      1.000000    0.814017
720         447.98            9.83      0.006193      1.000000    1.420000
721         446.72            9.41      0.006323      1.000000    1.520000
722         450.30            9.31      0.006560      1.000000    0.725287
723         444.67           10.16      0.006714      1.000000    1.180000
724         451.88            8.85      0.006791      1.000000    0.708780
725         448.32            8.81      0.006812      1.000000    1.270000
726         455.10            7.46      0.006759      1.000000    0.765815
727         449.01            7.17      0.006686      1.000000    0.738716
728         444.69            7.76      0.006725      1.000000    0.623225
729         466.09            7.40      0.007095      1.000000    0.729231
730         461.43            7.55      0.007283      1.000000    0.773489

     Bytecoin Close  Litecoin Close  Stellar Close  Verge Close  Steem Close  \
0          0.004984          144.76       0.339517     0.061044     4.210000
1          0.005466          165.78       0.400670     0.068623     3.520000
2          0.004988          152.25       0.372128     0.068823     3.250000
3          0.004802          146.77       0.368139     0.068507     3.050000
4          0.004763          148.93       0.375663     0.068577     3.090000
5          0.005102          155.54       0.391165     0.069369     3.290000
6          0.004813          146.30       0.366120     0.073157     3.110000
7          0.004467          140.00       0.351544     0.064996     3.020000
8          0.004065          132.93       0.300202     0.073001     2.780000
9          0.003828          128.34       0.284156     0.094058     2.680000
10         0.004396          132.04       0.290722     0.090828     2.750000
11         0.003321          126.29       0.250668     0.086951     2.620000
12         0.003155          125.35       0.246290     0.091562     2.700000
13         0.002869          129.34       0.242120     0.090361     2.720000
14         0.002526          118.29       0.212337     0.082343     1.960000
15         0.002342          114.26       0.199344     0.084130     1.850000
16         0.002114          114.99       0.197333     0.078112     1.830000
17         0.002172          117.67       0.206377     0.067757     1.910000
18         0.002118          116.26       0.201859     0.064450     1.880000
19         0.002027          113.16       0.193317     0.058483     1.760000
20         0.002092          119.13       0.197940     0.054932     1.750000
21         0.002115          118.41       0.204108     0.056866     1.920000
22         0.002345          134.47       0.235691     0.071145     2.060000
23         0.002189          119.31       0.224878     0.047822     1.690000
24         0.002161          115.22       0.206582     0.043729     1.440000
25         0.002121          116.61       0.206778     0.038975     1.520000
26         0.002098          118.60       0.188733     0.035945     1.550000
27         0.002193          114.68       0.190819     0.036915     1.640000
28         0.002471          131.75       0.219251     0.041806     1.890000
29         0.002384          135.78       0.216033     0.039978     1.720000
..              ...             ...            ...          ...          ...
701        0.000040            3.95       0.001608     0.000031     0.530240
702        0.000040            3.97       0.001599     0.000035     0.444433
703        0.000044            3.93       0.001626     0.000032     0.428027
704        0.000044            3.95       0.001634     0.000031     0.420440
705        0.000044            3.88       0.001649     0.000031     0.422897
706        0.000036            3.83       0.001661     0.000031     0.347690
707        0.000034            4.00       0.001711     0.000027     0.343168
708        0.000033            3.98       0.001692     0.000028     0.382058
709        0.000036            4.01       0.001724     0.000032     0.342774
710        0.000034            4.06       0.001762     0.000037     0.374065
711        0.000033            4.01       0.001781     0.000037     0.375596
712        0.000037            3.93       0.001770     0.000041     0.341788
713        0.000033            3.86       0.001800     0.000041     0.264839
714        0.000036            3.88       0.001797     0.000037     0.252230
715        0.000030            3.82       0.001774     0.000041     0.255622
716        0.000032            4.06       0.001802     0.000047     0.258957
717        0.000032            3.94       0.001796     0.000048     0.310248
718        0.000032            3.95       0.001814     0.000051     0.309534
719        0.000033            3.82       0.001829     0.000046     0.354715
720        0.000032            3.71       0.001840     0.000049     0.385345
721        0.000034            3.75       0.001865     0.000049     0.421578
722        0.000033            3.74       0.001862     0.000051     0.443710
723        0.000034            3.68       0.001868     0.000049     0.402849
724        0.000036            3.71       0.001883     0.000051     0.465980
725        0.000036            3.66       0.001852     0.000051     0.419174
726        0.000036            3.81       0.001849     0.000050     0.432963
727        0.000031            3.79       0.001904     0.000054     0.449965
728        0.000031            3.89       0.001832     0.000053     0.416198
729        0.000033            4.05       0.001819     0.000055     0.374183
730        0.000034            3.81       0.001876     0.000060     0.369118

     Siacoin Close  Dash Close  Nem Close  Monero Close  Bitshares Close
0         0.019252      461.01   0.376121    257.140000         0.245942
1         0.021950      530.13   0.434433    296.040000         0.298161
2         0.020881      503.39   0.394801    283.300000         0.269111
3         0.019116      467.71   0.386091    271.300000         0.262214
4         0.019135      444.50   0.388677    258.180000         0.264628
5         0.019447      460.41   0.405268    271.980000         0.277680
6         0.019547      431.33   0.387630    238.610000         0.243768
7         0.019232      421.18   0.375668    228.340000         0.227617
8         0.017596      363.85   0.340167    195.750000         0.210059
9         0.017387      363.57   0.344979    194.100000         0.210624
10        0.018538      381.70   0.358358    200.620000         0.228075
11        0.016300      356.14   0.305177    190.420000         0.186482
12        0.014630      353.07   0.282566    188.870000         0.188711
13        0.013745      353.80   0.275733    191.940000         0.178671
14        0.012284      309.42   0.246886    169.160000         0.155961
15        0.011447      298.81   0.235359    165.570000         0.142616
16        0.010834      298.40   0.229289    167.060000         0.138057
17        0.011088      310.85   0.235490    173.970000         0.143767
18        0.011083      297.80   0.222968    170.120000         0.142206
19        0.010691      285.45   0.219099    162.000000         0.138352
20        0.011056      301.65   0.224768    173.310000         0.144414
21        0.010527      299.85   0.227384    170.100000         0.137514
22        0.012395      339.85   0.260692    189.530000         0.152023
23        0.010455      311.81   0.226911    177.510000         0.147740
24        0.010207      291.53   0.208790    175.510000         0.128162
25        0.010753      305.76   0.221104    179.560000         0.128041
26        0.010518      311.12   0.220901    172.360000         0.126497
27        0.011032      329.28   0.221222    176.860000         0.128044
28        0.013177      351.26   0.253923    199.160000         0.143017
29        0.013249      354.75   0.249203    187.930000         0.144715
..             ...         ...        ...           ...              ...
701       0.000245        7.76   0.001652      0.901127         0.003386
702       0.000265        8.10   0.001661      0.914730         0.003447
703       0.000314        8.10   0.001698      0.938764         0.003492
704       0.000317        8.24   0.001620      0.975433         0.003631
705       0.000279        7.95   0.001664      0.942222         0.003727
706       0.000270        7.70   0.001549      0.853595         0.003790
707       0.000164        7.39   0.001444      0.840542         0.003693
708       0.000172        7.41   0.001465      0.813343         0.003628
709       0.000118        7.27   0.001492      0.818356         0.003659
710       0.000119        7.00   0.001470      0.823823         0.003574
711       0.000109        6.95   0.001435      0.838895         0.003608
712       0.000114        6.97   0.001517      0.847763         0.003570
713       0.000114        6.78   0.001571      0.875668         0.003577
714       0.000113        6.76   0.001534      0.859710         0.003598
715       0.000113        6.79   0.001506      0.829463         0.003592
716       0.000111        6.59   0.001475      0.825393         0.003583
717       0.000124        6.69   0.001517      0.850586         0.003905
718       0.000110        6.58   0.001554      0.880058         0.003893
719       0.000097        6.77   0.001590      0.877466         0.003940
720       0.000103        6.82   0.001535      0.906841         0.004092
721       0.000103        6.84   0.001535      0.916455         0.004047
722       0.000090        6.80   0.001578      0.908237         0.004109
723       0.000085        6.83   0.001574      0.964395         0.004271
724       0.000086        6.79   0.001606      0.914293         0.004058
725       0.000085        6.83   0.001601      0.916537         0.003976
726       0.000086        6.60   0.001607      0.883684         0.003924
727       0.000090        6.46   0.001599      0.904794         0.003957
728       0.000084        6.28   0.001645      0.941531         0.003979
729       0.000084        6.08   0.001532      0.884295         0.003861
730       0.000083        6.17   0.001518      0.953362         0.003768

[731 rows x 15 columns]

In [45]:

url = 'https://coinmarketcap.com/currencies/tether/historical-data/?start=20160425&end=20180425'
df_tether = pd.read_html(requests.get(url,headers={'User-agent': 'Mozilla/5.0'}).text)[0]
df_tether.set_index('Date')
df_tether.rename(columns={'Close': 'tether Close'}, inplace=True)
df_tether[::-1]
df_tether[::-1].head

<bound method NDFrame.head of              Date      Open  High       Low  tether Close      Volume  \
730  Apr 25, 2016  1.000000  1.00  1.000000      1.000000      298864
729  Apr 26, 2016  1.000000  1.00  1.000000      1.000000      515109
728  Apr 27, 2016  1.000000  1.00  1.000000      1.000000      481952
727  Apr 28, 2016  1.000000  1.00  1.000000      1.000000      544476
726  Apr 29, 2016  1.000000  1.00  1.000000      1.000000      146006
725  Apr 30, 2016  1.000000  1.00  1.000000      1.000000      454278
724  May 01, 2016  1.000000  1.00  1.000000      1.000000       49006
723  May 02, 2016  1.000000  1.00  1.000000      1.000000      193440
722  May 03, 2016  1.000000  1.00  1.000000      1.000000      408428
721  May 04, 2016  1.000000  1.00  1.000000      1.000000      215176
720  May 05, 2016  1.000000  1.00  1.000000      1.000000      753773
719  May 06, 2016  1.000000  1.00  1.000000      1.000000     2747610
718  May 07, 2016  1.000000  1.00  1.000000      1.000000       73083
717  May 08, 2016  1.000000  1.00  1.000000      1.000000       80059
716  May 09, 2016  1.000000  1.00  1.000000      1.000000      324466
715  May 10, 2016  1.000000  1.00  1.000000      1.000000     6102180
714  May 11, 2016  1.000000  1.00  1.000000      1.000000      270254
713  May 12, 2016  1.000000  1.00  1.000000      1.000000      168513
712  May 13, 2016  1.000000  1.00  1.000000      1.000000       62149
711  May 14, 2016  1.000000  1.01  1.000000      1.000000       61320
710  May 15, 2016  1.000000  1.00  1.000000      1.000000      219450
709  May 16, 2016  1.000000  1.00  1.000000      1.000000      567230
708  May 17, 2016  1.000000  1.00  1.000000      1.000000      178706
707  May 18, 2016  1.000000  1.00  1.000000      1.000000      229307
706  May 19, 2016  1.000000  1.00  1.000000      1.000000      329926
705  May 20, 2016  1.000000  1.00  1.000000      1.000000      261677
704  May 21, 2016  1.000000  1.00  1.000000      1.000000      167338
703  May 22, 2016  1.000000  1.00  1.000000      1.000000      104196
702  May 23, 2016  1.000000  1.00  1.000000      1.000000      190548
701  May 24, 2016  1.000000  1.00  1.000000      1.000000      153609
..            ...       ...   ...       ...           ...         ...
29   Mar 27, 2018  1.000000  1.01  0.989473      1.000000  2051080000
28   Mar 28, 2018  1.000000  1.01  0.993721      0.999204  1857050000
27   Mar 29, 2018  1.000000  1.01  0.982472      0.998623  2486610000
26   Mar 30, 2018  0.995897  1.01  0.979633      0.998943  2596850000
25   Mar 31, 2018  0.997014  1.01  0.993569      1.000000  1763720000
24   Apr 01, 2018  0.995702  1.01  0.980778      0.999810  1832530000
23   Apr 02, 2018  1.000000  1.01  0.988060      1.000000  1550880000
22   Apr 03, 2018  0.997587  1.01  0.995073      1.000000  1753520000
21   Apr 04, 2018  1.000000  1.01  0.994270      1.000000  1772330000
20   Apr 05, 2018  1.000000  1.01  0.987434      1.000000  1609470000
19   Apr 06, 2018  1.000000  1.01  0.991376      1.000000  1257110000
18   Apr 07, 2018  1.000000  1.01  0.986520      0.999644  1332260000
17   Apr 08, 2018  1.000000  1.01  0.995091      0.996809  1090880000
16   Apr 09, 2018  0.997541  1.01  0.993393      0.997555  1678770000
15   Apr 10, 2018  0.996953  1.00  0.991744      0.997356  1253950000
14   Apr 11, 2018  0.997593  1.00  0.992521      1.000000  1741700000
13   Apr 12, 2018  0.996408  1.02  0.986025      0.996831  3636590000
12   Apr 13, 2018  0.995839  1.01  0.989434      0.998895  3218920000
11   Apr 14, 2018  1.000000  1.01  0.993994      0.999766  2060220000
10   Apr 15, 2018  0.996308  1.01  0.986564      0.998602  2057860000
9    Apr 16, 2018  0.998884  1.01  0.995754      0.997592  2125180000
8    Apr 17, 2018  0.997217  1.01  0.991320      0.998556  2075650000
7    Apr 18, 2018  1.000000  1.01  0.983284      0.997609  2112090000
6    Apr 19, 2018  0.997907  1.00  0.992889      0.997185  2217800000
5    Apr 20, 2018  0.997550  1.00  0.988285      0.998338  3458870000
4    Apr 21, 2018  0.997071  1.01  0.993816      0.999014  3570040000
3    Apr 22, 2018  1.000000  1.01  0.989191      0.996196  3176020000
2    Apr 23, 2018  0.995130  1.00  0.988780      0.997847  3075480000
1    Apr 24, 2018  0.998974  1.01  0.990297      1.000000  5033250000
0    Apr 25, 2018  1.010000  1.02  0.986074      0.991809  6126580000

     Market Cap
730     1451590
729     1451590
728     1451590
727     1451590
726     1951590
725     1951590
724     1951590
723     1951590
722     1951590
721     1951590
720     1951590
719     1951590
718     1951590
717     1951590
716     1951590
715     1951590
714     1951590
713     1951590
712     1951590
711     1958050
710     1958460
709     1951590
708     1951590
707     1951590
706     1951590
705     1951590
704     1951590
703     1951590
702     1951590
701     1951590
..          ...
29   2292670000
28   2292350000
27   2293080000
26   2277760000
25   2280310000
24   2277310000
23   2294760000
22   2281620000
21   2296240000
20   2291820000
19   2287850000
18   2291130000
17   2290640000
16   2281520000
15   2280170000
14   2281640000
13   2278930000
12   2277620000
11   2291310000
10   2278700000
9    2284590000
8    2280780000
7    2288650000
6    2282350000
5    2281540000
4    2280440000
3    2297000000
2    2276000000
1    2284790000
0    2298790000

[731 rows x 7 columns]>

<bound method NDFrame.head of              Date      Open      High       Low  VeChain Close     Volume  \
0    Apr 25, 2018  4.140000  4.180000  3.560000       3.620000   82778500
1    Apr 24, 2018  3.890000  4.190000  3.890000       4.170000  107471000
2    Apr 23, 2018  3.830000  3.950000  3.810000       3.880000   83179700
3    Apr 22, 2018  3.860000  3.980000  3.770000       3.830000   85951500
4    Apr 21, 2018  3.950000  3.960000  3.590000       3.840000   80985400
5    Apr 20, 2018  3.730000  3.960000  3.630000       3.930000   89724600
6    Apr 19, 2018  3.570000  3.730000  3.520000       3.710000   83805600
7    Apr 18, 2018  3.310000  3.610000  3.280000       3.580000   83240100
8    Apr 17, 2018  3.340000  3.450000  3.290000       3.300000   68839900
9    Apr 16, 2018  3.550000  3.590000  3.250000       3.350000   78060300
10   Apr 15, 2018  3.290000  3.560000  3.290000       3.560000   80133900
11   Apr 14, 2018  3.290000  3.370000  3.060000       3.290000   69780200
12   Apr 13, 2018  3.320000  3.500000  3.160000       3.270000   74513600
13   Apr 12, 2018  2.760000  3.340000  2.750000       3.340000   93227000
14   Apr 11, 2018  2.700000  2.830000  2.700000       2.780000   71380800
15   Apr 10, 2018  2.560000  2.720000  2.530000       2.690000   65408600
16   Apr 09, 2018  2.530000  2.680000  2.420000       2.550000   65203800
17   Apr 08, 2018  2.510000  2.620000  2.470000       2.520000   49740300
18   Apr 07, 2018  2.350000  2.670000  2.340000       2.500000   54970100
19   Apr 06, 2018  2.420000  2.460000  2.290000       2.340000   46839600
20   Apr 05, 2018  2.420000  2.480000  2.300000       2.430000   46373900
21   Apr 04, 2018  2.910000  2.910000  2.400000       2.420000   65268200
22   Apr 03, 2018  2.730000  3.110000  2.680000       2.900000   89353000
23   Apr 02, 2018  2.240000  2.980000  2.200000       2.720000  107438000
24   Apr 01, 2018  2.380000  2.470000  2.000000       2.230000   42424100
25   Mar 31, 2018  2.340000  2.520000  2.290000       2.380000   44233500
26   Mar 30, 2018  2.410000  2.570000  2.200000       2.340000   50087200
27   Mar 29, 2018  2.920000  2.980000  2.380000       2.420000   51073900
28   Mar 28, 2018  2.950000  3.050000  2.870000       2.920000   53936700
29   Mar 27, 2018  3.190000  3.200000  2.930000       2.950000   52477200
..            ...       ...       ...       ...            ...        ...
217  Sep 20, 2017  0.056178  0.070688  0.050876       0.068935      45507
218  Sep 19, 2017  0.068146  0.068917  0.055711       0.056247       3406
219  Sep 18, 2017  0.065547  0.074459  0.042027       0.067955       3685
220  Sep 17, 2017  0.075829  0.075833  0.056331       0.065584      12558
221  Sep 16, 2017  0.063534  0.078749  0.062315       0.075771      26582
222  Sep 15, 2017  0.055128  0.068444  0.052437       0.063221      20442
223  Sep 14, 2017  0.075552  0.083391  0.055356       0.055356      34979
224  Sep 13, 2017  0.050420  0.084292  0.050238       0.075553        659
225  Sep 12, 2017  0.050420  0.050420  0.050420       0.050420          0
226  Sep 11, 2017  0.049022  0.055699  0.047485       0.050420          0
227  Sep 10, 2017  0.048004  0.057875  0.047648       0.049022          0
228  Sep 09, 2017  0.081535  0.081543  0.046412       0.048002        258
229  Sep 08, 2017  0.067827  0.096653  0.064907       0.081550       1880
230  Sep 07, 2017  0.057143  0.067829  0.057143       0.067827       3311
231  Sep 06, 2017  0.057972  0.060352  0.054886       0.057143        451
232  Sep 05, 2017  0.056041  0.058804  0.041660       0.057972    1156340
233  Sep 04, 2017  0.109926  0.128125  0.051508       0.056653    4568850
234  Sep 03, 2017  0.138987  0.139340  0.104496       0.112362    5362440
235  Sep 02, 2017  0.172681  0.176484  0.125146       0.140053    8672000
236  Sep 01, 2017  0.187783  0.190960  0.171816       0.173036    3298480
237  Aug 31, 2017  0.197504  0.200893  0.185077       0.187783    2681500
238  Aug 30, 2017  0.229984  0.229984  0.152084       0.198101   11348900
239  Aug 29, 2017  0.232930  0.240887  0.228623       0.230286    5284410
240  Aug 28, 2017  0.241178  0.246522  0.228211       0.234442    4223700
241  Aug 27, 2017  0.234209  0.260213  0.230134       0.241630    5238990
242  Aug 26, 2017  0.242978  0.243837  0.229546       0.234058    3459540
243  Aug 25, 2017  0.253048  0.253048  0.238451       0.242978    3718990
244  Aug 24, 2017  0.276288  0.297604  0.238689       0.252909    6074270
245  Aug 23, 2017  0.263492  0.323096  0.261051       0.279839   10956900
246  Aug 22, 2017  0.239862  0.255482  0.225161       0.252281    7478420

     Market Cap
0    2177050000
1    2047260000
2    2013340000
3    2027700000
4    2076050000
5    1963740000
6    1876030000
7    1740900000
8    1757430000
9    1868500000
10   1731210000
11   1725080000
12   1744180000
13   1450930000
14   1417660000
15   1343500000
16   1327190000
17   1316370000
18   1234670000
19   1270430000
20   1271540000
21   1525660000
22   1427910000
23   1173380000
24   1243010000
25   1225650000
26   1262580000
27   1522140000
28   1535320000
29   1657100000
..          ...
217           -
218           -
219           -
220           -
221           -
222           -
223           -
224           -
225           -
226           -
227           -
228           -
229           -
230           -
231           -
232           -
233           -
234           -
235           -
236           -
237           -
238           -
239           -
240           -
241           -
242           -
243           -
244           -
245           -
246           -

[247 rows x 7 columns]>